.my-navigator {
    .nav-link {
        padding: .5rem .75rem;
        color: $my-gray-900;
        font-family: $my-font-family-secondary;
        letter-spacing: .05rem;
        line-height: 1.2;
    }
}