.my-post-item {
    padding-bottom: 40px;
}

.my-post-item-link {
    margin: 1rem 0;
    color: $my-gray-900;
}

.my-post-item-title {
    font-size: 1.571rem;
}

.my-post-item-more {
    margin-bottom: 40px;
}