.my-front-page-welcome {
    padding: 60px 0 70px;
}

.my-front-page-portfolio {
    padding: 70px 0 75px;
}

.my-front-page-portfolio-last {
    margin-top: 29px;
}

.my-front-page-services {
    padding: 65px 0 30px;
}

.my-front-page-blog {
    padding: 65px 0 0;

    .my-post-box {
        margin-bottom: 75px;
    }
}