.my-product-list-page {
    padding: 40px 0 35px;

    .my-product-search {
        margin-bottom: 50px;
    }
}

.my-product-list-intro {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 50%;
    }
}

.my-product-list-intro-desc {
    font-weight: 300;
}

.my-prodycts {
    padding: 0 0 15px;
}